@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Julius+Sans+One&family=Open+Sans:wght@300&display=swap');
$blue: #99ccff;
$cream: #faf6e3;
$black: #0b0e10;
$family-sans-serif: "Julius Sans One", sans-serif;
$family-monospace: "Open Sans", monospace;
$headings: "DM Serif Display", serif;

$link: $black;
$widescreen-enabled: false;
$fullhd-enabled: false;
$body-background-color: $cream;
$control-border-width: 1px;
@import "../../node_modules/bulma/bulma.sass";

#squares-div {
  max-width: 100%;
}

#list-img {
  width: 200px;
  height: 200px; 
}

#profile-img {
  width: 100%;
  display: block;
}

#explore-img {
  width: 500px;
  height: 500px; 
}

#profile-box {
  border-width: 15px;
  border-style: solid;
  border-radius: 0;
  overflow: hidden;
  border-color: $black;
  background-color: $cream;
}

#list-box {
  border-width: 15px;
  border-style: solid;
  border-radius: 0;
  border-color: $black;
  max-width: 1000px;
  background-color: $cream;
}

#nav-logo {
  width: 100%;
  max-width: 400px;
  height: auto;
  padding-right: 30px;
}

#list-box-header {
  background-color: transparent;
  box-shadow: none;
}

.footer {
  background-color: $blue;
}

.heading {
  font-family: $headings;
  font-size: 70px;
  text-transform: lowercase;
  color: $black;
}

.hero-body {
  background-color: $blue;
}

.section {
  background-color: $blue;
}

.help {
  font-family: $family-monospace;
  color: $black;
}

.label {
  font-family: $family-monospace;
}

.button {
  font-family: $family-monospace;
}

.input {
  font-family: $family-monospace;
}

.level {
  font-size: 20px;
}

.modal-text {
  color: $cream;
}

.modal-link:hover {
  color: $cream;
  cursor: pointer;
}

.level-item {
  justify-content: flex-start !important;
}

// .button {
//   border-width: 2px;
//   border-style: solid;
//   border-radius: 0;
//   border-color: $black;
// }

@media only screen and (max-width: 768px) {
  .heading {
    font-family: $headings;
    font-size: 35px;
    text-transform: lowercase;
  }

  #nav-logo {
    width: 100%;
    max-width: 200px;
    height: auto;
  }
  
  #squares {
    max-width: 500px;
    height: auto;
  }

  #squares-div {
    max-width: 300px;
    overflow: hidden;
  }

  #list-img {
    width: 100px;
    height: 100px; 
  }

  #explore-img {
    width: 200px;
    height: 200px; 
  }

  .pl-6 {
    padding-left: 0px !important;
  }
}
